<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Team-7</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Team-5</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Check With Database</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <h3 class="text-center">Team--5</h3>
    <h4 class="text-center">Design Project</h4>


    <!-- <div class="container encrypt-container  shadow">

        <div action="/encryption/" method="POST">
            <div class="row">
                <div class="text-center ">
                    <div class=" mb-5 form-group ">
                        <label><strong>title</strong></label><br>
                        <textarea type="text " class="form-control " name="title "></textarea><br>
                        <label><strong>abstract</strong></label><br>
                        <textarea type="text " class="form-control " name="abstract "></textarea><br>
                        <label><strong>Introduction</strong></label><br>
                        <textarea type="text " class="form-control " name="introduction "></textarea><br>
                        <label><strong>Components</strong></label><br>
                        <textarea type="text " class="form-control " name="components "></textarea><br>
                        <label><strong>Team Members</strong></label><br>
                        <textarea type="text " class="form-control " name="authors "></textarea><br>
                    </div>
                </div>

                <div>
                    <div class=" mb-3 form-group ">
                        <label><strong> Your Output for:{{input}}</strong></label>
                        <textarea class="form-control " placeholder="Morse-Code " id="textId ">
                             {{ abc }}
                        </textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" name="button_check" value="check-similarity" class="btn btn-primary mb-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Check">Check Availability</button>
                </div>
            </div> -->

    <h5>Location -0:{{l1}}:{{n1}}</h5>
    <h5>Location -1:{{l2}}:{{n2}}</h5>
    <h5>Location -2:{{l3}}:{{n3}}</h5>
    <h5>Location -3:{{l4}}:{{n4}}</h5>
    <h5>Location -4:{{l5}}:{{n5}}</h5>
    <h1>path:{{r}}</h1>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ " crossorigin="anonymous "></script>

</body>

</html>